@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   color: black;
   font-family: 'Dancing Script', cursive;
}

.container {
   height: 100%;
   width: 100%;
}

section {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

#section1 {
   background-color: rgba(255,241,208, 0.6);
   /* background-image: url('./resources/background.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; */
}

.event-name {
   font-size: 5.5rem;
   text-shadow: 10px 10px 8px #ccc;
}

#first-title {
   border-top: 1px solid #ccc;
   margin-bottom: -20px;
}

#second-title {
   border-bottom: 1px solid #ccc;
   margin-bottom: 15px;
}

.details {
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   font-size: 1.1rem;
}

#time {
   margin-bottom: 10px;
   padding-bottom: 5px;
   border-bottom: 1px solid #ccc;
}

#location {
   margin-bottom: 10px;
}

#button {
   font-family: 'Raleway', sans-serif;
   background-color: #D1DFFF; 
   border: none; 
   color: black; 
   padding: 5px 14px; 
   cursor: pointer; 
   box-shadow: 5px 4px 5px #ccc;
}

